@model IEnumerable<ClaysysOnlineQuizTest.Models.Users>

@{
    ViewBag.Title = "Get All Users";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<link href="~/Content/CustomCss/Admin/Users.css" rel="stylesheet" />
<h2 style="text-align: center; color:orange;">All the Trainees in Our Company</h2>

<div class="table-container">
    <div class="table-header">
        @*<div class="table-cell"><strong>User ID</strong></div>*@
        <div class="table-cell"><strong>User Name</strong></div>
        <div class="table-cell"><strong>Email Address</strong></div>
        <div class="table-cell"><strong>Created At</strong></div>
        <div class="table-cell"><strong>Actions</strong></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="table-row">
            @*<div class="table-cell">@Html.DisplayFor(modelItem => item.UserID)</div>*@
            <div class="table-cell">@Html.DisplayFor(modelItem => item.UserName)</div>
            <div class="table-cell">@Html.DisplayFor(modelItem => item.EmailAddress)</div>
            <div class="table-cell">@Html.DisplayFor(modelItem => item.CreatedAt)</div>
            <div class="table-cell btn">
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserID }, new { @class = "delete-link" })
            </div>
        </div>
    }
</div>


 
